<page-title
	ng-if="layoutOptions.pageTitles"
	title="Analysis Report"
	description="Report of doctor analysis.">
</page-title>

<ol class="breadcrumb" ng-hide="isCustomer">
	<li>
		<a href="#">Home</a>
	</li>
	<li>
		<a ui-sref="app.patients">Patient</a>
	</li>
    <li>
		<a ui-sref="app.patient-view({patientId: patientInfo.basicInfo._id})">{{patientInfo.basicInfo.firstName}}</a>
	</li>
	<li class="active">Analysis Report</li>
</ol>

<ol class="breadcrumb" ng-show="isCustomer">
	<li>
		<a href="#">Home</a>
	</li>
	<li>
		<a ui-sref="app.customers">Customers</a>
	</li>
	<li>
		<a ui-sref="app.customer-view({customerId: customerInfo.customer._id})">{{customerInfo.customer.firstName}}</a>
	</li>
	<li>
		<a ui-sref="app.customer-patient-view({customerId: customerInfo.customer._id, patientId: patientInfo.basicInfo._id})">{{patientInfo.basicInfo.firstName}}</a>
	</li>
	<li class="active">Analysis Report</li>
</ol>

<alert ng-show="showAlert" type="{{alert.status}}" close="alert_1_hide = true" ng-show="alert_1_hide == null">
    {{alert.message}}
</alert>

<div class="panel panel-headerless">
<div class="panel-body">
<div class="member-form-add-header">
    <div class="row">
        <div class="col-md-4 col-sm-4">

            <div class="user-img" ng-show="patientInfo.basicInfo.avatar == undefined">
                <img src="assets/images/user-4.png" class="img-circle" alt="user-pic" />
            </div>
            <div class="user-img" ng-show="patientInfo.basicInfo.avatar !== undefined">
                <img src="{{patientInfo.basicInfo.avatar}}" class="img-circle" alt="user-pic" width="80" height="80"/>
            </div>
            <div class="user-name">
                <h4>
                    <strong>
                        {{patientInfo.basicInfo.firstName}} {{patientInfo.basicInfo.lastName}}
                    </strong>
                </h4>
                <span>{{patientInfo.locationInfo.location}}</span>
            </div>

        </div>
        <div class="col-md-4 col-sm-4">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        {{patientInfo.basicInfo.email}}
                        <br />
                        <small>Email</small>
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        {{patientInfo.basicInfo.mobile}}
                        <br />
                        <small>Mobile</small>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        {{patientInfo.basicInfo.age}}
                        <br />
                        <small>Age</small>
                    </h5>
                </div>
                <div class="col-md-6">
                    <h5>
                        {{patientInfo.basicInfo.createdAt | date: 'dd-MM-yyyy'}}
                        <br />
                        <small>Created At</small>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        {{patientInfo.basicInfo.address}}
                        <br />
                        <small>Address</small>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div ng-repeat="analysisReport in analysisReports">
    <div class="card panel panel-default">
    	<div class="container">
			<div class="row">
				<div class="col-md-4">
	                <h5>
	                    {{analysisReport.consultationDate | date: 'dd-MM-yyyy'}}
	                    <br />
	                    <small>Consultation Date</small>
	                </h5>
	            </div>
	            <div class="col-md-4">
	                <h5>
	                    {{analysisReport.consultationReason}}
	                    <br />
	                    <small>Consultation Reason</small>
	                </h5>
	            </div>
				<div class="col-md-4">
	               	<a class="btn btn-primary" href="" ng-click="openAnalysisModal('analysis-form-modal', 'lg', analysisReport._id)">
						Update
					</a>
	            </div>
			</div>
			<div class="row">
	            <div class="col-md-6">
	                <h5>
	                    {{analysisReport.consultationMode}}
	                    <br />
	                    <small>Consultation Mode</small>
	                </h5>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-9">
					<h5>
	                <small>Analysis Details</small>
	                <br />
	                    {{analysisReport.analysisDetail}}
	                </h5>
	            </div>
	        </div>
    	</div>
    </div>
</div>

<!-- Analysis Modal -->
<script type="text/ng-template" id="analysis-form-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Doctor Analysis</h4>
	</div>

	<div class="modal-body">
		<alert ng-show="showAlert" type="{{alert.status}}" close="alert_1_hide = true" ng-show="alert_1_hide == null">
			{{alert.message}}
		</alert>
		<div class="row">
			<div class="col-md-12">
				<form action="" method="POST" role="form">
				     <div class="form-group">
					    <label for="">Consultation Date</label>
					    <input type="date" ng-model="analysis.consultationDate" class="form-control" id="datepicker" placeholder="Input field">
				     </div>

					 <div class="form-group">
					    <label for="">Consultation Reason</label>
					    <input type="text" ng-model="analysis.consultationReason" class="form-control" id="" placeholder="Enter consultation reason">
				     </div>

					 <div class="form-group">
					    <label for="">Consultation Mode</label>
						<select name="" id="" class="form-control" ng-model="analysis.consultationMode">
							<option value="">Select consultation mode</option>
							<option value="person">In Person</option>
							<option value="call">In Call</option>
						</select>
				     </div>

					 <div class="form-group">
					    <label for="">Analysis Detail</label>
						<textarea ng-model="analysis.analysisDetail" class="form-control" name="" id="" cols="30" rows="5"></textarea>
				     </div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">
			Close
		</button>
		<button type="button" class="btn btn-info" ng-click="updateAnalysis()">
			Update
		</button>
	</div>
</script>
