<ol class="breadcrumb">
	<li>
		<a href="#">Home</a>
	</li>
	<li>
		<a ui-sref="app.patients">Patient</a>
	</li>
	<li class="active">Create</li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading">
		Add Patient
	</div>

	<div class="panel-body">
		<alert ng-show="showAlert" type="{{alert.status}}" close="alert_1_hide = true" ng-show="alert_1_hide == null">
			{{alert.message}}
		</alert>

		<div class="row">
			<div class="col-md-6">

				<div class="form-group">
					<label for="field-1" class="control-label">First Name</label>

					<input type="text" name="first_name" ng-model="patient.firstName" class="form-control" id="field-1" placeholder="John">
				</div>

			</div>
			<div class="col-md-6">

				<div class="form-group">
					<label for="field-2" class="control-label">Last Name</label>

					<input type="text" name="last_name" ng-model="patient.lastName" class="form-control" id="field-2" placeholder="Doe">
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<label for="field-3" class="control-label">Age</label>

					<input type="text" name="age" ng-model="patient.age" class="form-control" id="field-3" placeholder="Age">
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<label for="patient-avatar" class="control-label">Profile Pic</label>

					<input type="file" name="avatar" file-model="patient.avatar" class="form-control" id="patient-avatar">
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<label for="field-6" class="control-label">Mobile</label>

					<input type="text" name="mobile" ng-model="patient.mobile" class="form-control" id="field-6" placeholder="Mobile">
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<label for="field-7" class="control-label">Email</label>

					<input type="text" name="email" ng-model="patient.email" class="form-control" id="field-7" placeholder="Email">
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<label for="field-8" class="control-label">Blood Group</label>

					<input type="text" name="bloodGroup" ng-model="patient.bloodGroup" class="form-control" id="field-7" placeholder="Blood Group">
				</div>

			</div>
		</div>

		<!--<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<label for="field-8" class="control-label">Location</label>
					<select name="" id="field-8" class="form-control" ng-model="patient.locationId">
						<option value="">Select location</option>
						<option ng-repeat="location in locations" value="{{location._id}}">{{location.location}}</option>
					</select>
				</div>

			</div>
		</div>-->

		<div class="row">
			<div class="col-md-12">

				<div class="form-group">
					<label for="field-7" class="control-label">Address</label>
					<textarea name="address" id="inputAddress" class="form-control" rows="3" ng-model="patient.address"></textarea>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="form-group">
					<label for="field-4" class="control-label">Password</label>

					<input type="password" ng-model="patient.password" class="form-control" id="field-4" placeholder="Enter your password">
				</div>

			</div>

			<div class="col-md-6">

				<div class="form-group">
					<label for="field-5" class="control-label">Confirm Password</label>

					<input type="password" ng-model="patient.confirmPassword" class="form-control" id="field-5" placeholder="Confirm password">
				</div>

			</div>
		</div>

		<div class="pull-right-sm">
			<button type="button" class="btn btn-block btn-secondary" ng-click="createPatient()">Create</button>
		</div>

	</div>

</div>
